<aside class="sidebar">
<h3 id="sidetitle" class="published" title="{{ article.date.isoformat() }}">
               {{ article.locale_date }}
</h3>

<p>
<div class="tag" id="sidetag">
  Publié dans <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{
    article.category }}</a>
</div>

{% include 'taglist.html' %}
{% include 'translations.html' %}

<a id="sideflattr" href="http://flattr.com/thing/1717563/Fetchez-le-Python" target="_blank"><img
  src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this"
  title="Flattr this" border="0" style="margin-top: 10px"/></a>

</p>

<iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/9546264/latest-rides/4c65d41a94954efb71c56a5f7c88d30d347041fc'></iframe>

<div style="text-align: center">
  <img src="/theme/images/ocr-logo.jpg" height="120"></img>
  <div>Proud Member</div>
</div>

</aside><!-- /.post-info -->
